*
{
	margin:0px;
	padding:0px;

 }

 @font-face
 {
   font-family:"raleway";
   src: url("raleway.woff") format("woff");
 }

 #agrupar
 {
	 display:block;
	 width:auto;
	 text-align:center;
 }

 #cabecera
 {
   font: normal 15px raleway;
   text-shadow: 0px 5px 5px grey;
 }


 canvas
 {
 	box-shadow: 0px 10px 10px 5px grey;
 	margin: 4% 25%;
 	border-radius: 20px;
 	background-color: black;
 }

 #pie
 {
 	text-shadow: 0px 5px 5px grey;
 }
